@page
@model WebResume.Pages.Auth.Login

@{
    ViewData["Title"] = "Log In";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" type="checkbox" value="true"></input>
            <span asp-validation-for="RememberMe"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px;">Log In</button>
    </div>
</form>
